.gradle/
.kotlin/
.idea/
**/build/
local.properties
*.iml
node_modules/
functions/lib/
functions/.env*
functions/.secret.local
firebase-debug.log*
firestore-debug.log*
ui-debug.log*
.firebase/
emulator-test-output.log
android-stage2-build.log
android-stage3-build.log
android-characters-build.log
characters-device-test.log
.qa/
*-deploy.log
app/google-services.json
*service-account*.json
